* {
    margin:0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 700px;
    margin: 30px;
}
.navbar{
    padding: 15px 20px 30px 20px;
    background-color: rgba(114, 114, 114, 0.473);
    display: flex;
    justify-content: space-between;
}
.navbar__links a {
    margin-left: 30px;
    text-decoration: none;
    color: #000;
}
.navbar__links a:hover {
    border-bottom: 1px solid #000;
}
.navbar__links a:first-child {
    margin: 0;
}